body {
    margin: 0;
    padding: 40px;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border-color: silver;
}

th,
td {
    text-align: left;
    padding: 5px 10px;
}

.btn-link {
    padding: 0;
    color: blue;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

.list-item {
    margin-bottom: 10px;
}
