body {
    margin: 0;
    padding: 2rem;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-color: silver;
}

th,
td {
    padding: 0.5rem 1rem;
    border: solid silver 1px;
    text-align: left;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
}

.btn-link {
    padding: 0;
    color: blue;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

.list-item {
    margin-bottom: 10px;
}
